<div class="card-product-detail">
    <div class="exception-container-image">
        <%= link_to image_tag("page-not-found.png", class:"icon-exception"), root_path %>
    </div>
    <div class="exception-container-text">
        <p class="exception-text">Oops! Something Went Wrong</p>
    </div>
</div>
