<div class="default-cart-image">
    <p class="default-cart-title">Tu carrito está vacío</p>
    <p class="default-cart-text">Añade productos a tu carrito para poder crear una orden de compra.</p>
    <%= image_tag("disappointed.png", class: "default-image") %>
</div>
